:root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fondo-color-min: #f1e4ff;
    --fondo-color-mid: #aa69ff;
    --fondo-color-max: #ba86ff;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
    height: 100vh;
    cursor: default;
    background: linear-gradient(170deg, var(--fondo-color-min), var(--fondo-color-mid), var(--fondo-color-max));
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor-principal {
    min-height: fit-content;
    width: 500px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.18);
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.contenedor-titulo {
    margin: 20px;
    margin-bottom: 0;
}

.contenedor-titulo h1 {
    margin: 0;
}

.contenedor-confesion {}

.contenedor-pregunta {
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}

.contenedor-secundario {
    height: 50%;
    margin-bottom: 20px;
}

.contenedor-respuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 170px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
}

#contenedor-si,
#contenedor-no,
#contenedor-x {
    cursor: pointer;
    border: none;
    width: 70px;
    height: 50px;
    border-radius: 30px;
}

#contenedor-si {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: black;
    color: white;
}

#contenedor-si:hover {
    background-color: rgb(36, 36, 36);
}

#contenedor-no {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 254px;
    transition: left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#contenedor-no:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#contenedor-x {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
}

.contenedor-duda img {
    width: 100px;
}